{
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-merge"
  ],
  "importOrder": [
    "^vue$",
    "",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^[./]",
    "",
    "<TYPES>"
  ],
  "attributeGroups": ["^v-", "^#", "^:", "^@", "$DEFAULT"],
  "attributeSort": "ASC",
  "tailwindStylesheet": "./src/assets/tailwind.css"
}
